<p>Personen</p>
<ul>
    <li ng-repeat="person in personen">
        <input type="text" ng-model="person.name">
        <input type="text" ng-model="person.vorname">
        <input type="button" ng-click="remove(person)" value="delete">
        <a href="#view3/{{person.id}}">Details {{person.getFullname()}}</a>
    </li>
</ul>

<input type="button" ng-click="addPerson()" value="add">
<input type="button" ng-click="save()" value="save all">
<input type="button" ng-click="reload()" value="reload">
<input type="button" ng-click="loadOther()" value="load from json">
